include *.txt
include *.md
include *.pkl
recursive-include ./bike_share/*

include bike_share/datasets/bike-sharing-dataset.csv
include bike_share/datasets/test.csv
include bike_share/trained_models/*.pkl
include ./bike_share/VERSION
include bike_share/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]